html,body {
	margin : 0;
}
.mountains {
	background : lightblue;
}
.mountains .headers {
	font-family : 'Arial';
	text-align : center;
	color : #fff;
	padding : 300px 0;
	text-shadow : 0 0 25px rgba(0,0,0,0.2);
}
.mountains .headers h1 {
	font-size : 72px;
	margin : 0;
	text-transform: uppercase;
}
.mountains .headers h3 {
	font-size : 24px;
}