html,body {
	margin : 0;
}
.mountains {
	background : lightblue;
}
.mountains .headers {
	font-family : 'Arial';
	text-align : center;
	color : #fff;
	padding : 300px 0;
	text-shadow : 0px 0px 15px rgba(0,0,0,0.75);
}
.mountains .headers h1 {
	font-size : 72px;
	margin : 0;
	text-transform: uppercase;
}
.mountains .headers h3 {
	font-size : 24px;
}
body > h1 {
	font-family : 'Arial';
	margin-left : auto;
	margin-right : auto;
	max-width: 600px;
	padding: 100px;
	text-align : center;
}